
<div class="row">
  <div {{^is_mobile_agent}}class="col-sm-12 col-md-12"{{/is_mobile_agent}}>
    <section class="content">
      {{#meta.title}}<h1 class="title">{{meta.title}}</h1>{{/meta.title}}
      {{{content}}}
      <div class="page-meta clearfix">
        {{#config.support_email}}
          <div class="contact-support pull-left">
            <span class="glyphicon glyphicon-envelope"></span> Still need help? <a href="mailto:{{config.support_email}}">Get in touch!</a>
          </div>
        {{/config.support_email}}
        <div class="last-updated pull-right">
          Last updated on {{last_modified}}
        </div>
      </div>
    </section>
  </div>
</div>
